/*Estilos para el componente INPUT*/
.content-input{
    width: 100%;
    margin: 3px auto;
    display: flex;
    flex-direction: column;    
}

.content-input input{
    background: #f4f5f7;
    color: #42526e;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(43, 42, 42, 0.177);
    outline: none;
}