.container-empresa{
    max-width: 90%;
    margin: 5px auto;
}

.card-empresa{
    margin-top: 30px;
    border: 1px solid rgba(43, 42, 42, 0.177);
}

.gallery-area{
    display: grid;
    gap: 15px;
}

@media (min-width: 1100px) {
    .gallery-area{
        grid-template-columns: repeat(2, 1fr);
    }
}

.header-card-empresa{
    padding: 12px;
    border-bottom: 1px solid rgba(43, 42, 42, 0.177);
    display: flex;
    align-items: center;
}

.body-empresa{
    padding: 15px;
    background-color: #fff;
}

.gallery-inputs{
    display: grid;
    gap: 10px;
}

@media (min-width: 1000px) {
    .gallery-inputs{
        grid-template-columns: repeat(2, 1fr);
    }
}


.container-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
    font-weight: 800;
    font-size: 25px;
}

.text-empresa{
    padding: 10px;
}

