.content-task {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
}

.content-task:hover{
    background: #5a639c26;
}


.text-task {
    display: flex;
    align-items: center;
}

.text-task .text {
    font-size: 12px;
}

.description-create {
    display: flex;
    align-items: center;
    padding: 8px 15px;
}