.create-empresa {
    width: 85%;
    min-height: 500px;
    margin: 50px auto;
    display: grid;
    align-items: center;
    gap: 50px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.052);
    background: #fff;
}

@media (min-width: 1100px) {
    .create-empresa {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1280px) {
    .create-empresa {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .formulario h2 {
        font-size: 23px;
    }

    .formulario p {
        font-size: 11px;
    }

}

.formulario p {
    margin: 10px auto;
    font-size: 12px;
}

.formulario small {
    font-size: 11px;
    color: grey;
}

.formulario button{
    font-size: 14px;
    padding: 7px 10px;
}

.options-plantillas .plantilla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: solid 1px #53515132;
    border-radius: 3px;
    padding: 10px;
    transition: all .2s;
}

.plantilla:hover {
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.052);
    transform: translateY(-2px);
}

.plantilla .icon {
    background: #a8a8a848;
    padding: 20px;
}


.description-plantilla {
    font-size: 13px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .options-plantillas .plantilla {
        display: block;
        padding: 5px;
    }

    .description-plantilla {
        font-size: 12px;
        margin: 5px;
        margin-top: 15px;

    }


}